.Header_container {
  width: 100%;
  height: var(--header_height);
  background: linear-gradient(
    to bottom,
    rgb(36, 42, 56),
    var(--profile_background)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Banner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.Banner:hover {
  transform: scale(0.95);
}

.main_icon {
  max-width: 100%;
  max-height: 50%;
}

.Header_title {
  z-index: 1;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
}

.Header_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
}

.Header_user_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.activity {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -2px;
  left: -2px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.active_user {
  background: green;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.inactive_user {
  background-color: red;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.Header_user_icon:hover {
  padding: 2px;
  background-color: gray;
}

.Header_notifications_icon {
  margin-right: 16px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  position: relative;
}

.Header_notifications_icon:hover {
  animation-play-state: paused;
}

.notification_animation {
  animation: notification 0.4s linear infinite;
}

@keyframes notification {
  0% {
    transform: translateX(0) scale(1);
    color: white;
  }

  50% {
    transform: translateX(-8px) scale(0.8);
    color: rgb(194, 194, 194);
  }

  100% {
    transform: translateX(0) scale(1);
    color: white;
  }
}

.Notifications_count_container {
  position: absolute;
  background-color: red;
  top: -4px;
  right: 0;
  padding: 4px;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  font-weight: normal;
}

.Notifications_count {
  color: white;
  font-size: 0.9em;
}

.Notification_main {
  width: 100%;
}

.Notifications_title {
  font-weight: bold;
  font-size: 1.3em;
  display: inline-block;
  margin-bottom: 24px;
  width: 100%;
}

.menu {
  position: absolute;
  right: 0;
  top: var(--header_height);
  padding: 16px;
  transition: 0.5s;
  background-color: white;
  border-radius: 8px;
  z-index: 1;
  -moz-box-shadow: 0 0 16px rgb(121, 121, 121);
  -webkit-box-shadow: 0 0 16px rgb(121, 121, 121);
  box-shadow: 0 0 16px rgb(121, 121, 121);
}

.Header_menu {
  flex-direction: column;
  justify-content: flex-start;
  display: none;
  min-width: 220px;
  width: auto;
}

.Header_notifications {
  min-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header_notifications::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: -5px;
  right: 66px;
  z-index: -1;
  transform: rotate(45deg);
}

.no_notifications {
  display: flex;
  color: gray;
  padding: 24px 0;
}

.Header_menu::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: -5px;
  right: 12px;
  z-index: -1;
  transform: rotate(45deg);
}

.Header_user_details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(218, 215, 215);
}

.Header_user_name {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: black;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Header_user_email {
  font-style: italic;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Header_menu ul {
  width: 100%;
  margin: 12px 0 0 0;
  list-style-type: none;
  padding: 0;
}

.Header_menu ul li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.3s;
}

.Header_menu ul li:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.Header_menu ul li span {
  flex-grow: 1;
  padding: 8px;
  margin-left: 8px;
}

.Header_menu_icon {
  color: gray;
}

.dismiss_notifications {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
}
