.Searchbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: white;
}

.Searchbar_icon_container {
  padding: 8px 12px 8px 16px;
  background-color: transparent;
}

.Searchbar_icon {
  background-color: transparent;
}

.Searchbar_input {
  width: 100%;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  font-size: 1.1em;
  border: none;
  color: black;
  flex-grow: 1;
}
