.User_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px 12px 0;
  justify-content: flex-start;
  transition: all 0.3s;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.User_container:hover {
  background-color: rgb(213, 217, 223);
}

.User_image_container {
  height: 100%;
  width: auto;
  padding-left: 16px;
  z-index: 1;
  background-color: inherit;
}

.User_image {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: flex;
}

.User_name {
  padding: 8px 16px;
  flex-grow: 1;
  color: grey;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
}

.User_activity {
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  bottom: 0px;
  right: 0px;
}

.active {
  background: green;
}

.inactive {
  background-color: gray;
}

.User_container:hover > .marquee {
  position: absolute;
  text-align: center;
  margin-left: 48px;
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
