.User_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.User_image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  display: flex;
}

.User_name {
  padding: 8px 16px;
}

.Profile_activity {
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  bottom: -4px;
}

.active {
  background: green;
}

.inactive {
  background-color: gray;
}
