.User_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px 12px 0;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.User_container:hover {
  background-color: rgb(213, 217, 223);
}

.User_image_container {
  height: 100%;
  width: auto;
  padding-left: 16px;
  z-index: 1;
  background-color: inherit;
}

.User_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--profile_background);
  position: relative;
  display: flex;
  color: gray;
}

.User_name {
  padding: 8px 16px;
  flex-grow: 1;
  color: grey;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.User_activity {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.active {
  background: green;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.inactive {
  background-color: red;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.User_container:hover > .marquee {
  position: absolute;
  text-align: center;
  margin-left: 48px;
  animation: scroll_out 2.5s linear, scroll-left 5s linear infinite 2.5s;
}

@media screen and (max-width: 750px) {
  .User_name {
    display: none;
  }

  .User_image_container {
    padding-left: 0;
  }

  .User_container {
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 8px;
  }

  .User_container:first-of-type {
    margin-top: 0;
  }
}
