.Pane_container {
  flex-grow: 1;
  flex-basis: 0;
  min-width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--pane_background);
}

.Pane_minimize_button {
  height: 100%;
  width: auto;
  outline: none;
  background-color: transparent;
  border-radius: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.Pane_minimize_button:hover {
  background-color: var(--pane_background);
  cursor: pointer;
}

.Pane_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pane_title_background);
  color: white;
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-size: 1.1em;
}

.Pane_code_mirror_wrapper {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

.Pane_code_mirror_wrapper::-webkit-scrollbar {
  display: none;
}

iframe {
  border: 0;
}
