.Profile_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: gray;
}

.other_user > * {
  cursor: not-allowed;
  animation: none;
}

.other_user .Profile_icon:hover {
  cursor: not-allowed;
  transform: scale(1);
}

.Profile_icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all 0.3s;
}

.Profile_icon:hover {
  transform: scale(0.85);
}

.Profile_activity {
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  bottom: -4px;
}

.left {
  right: -8px;
}

.right {
  left: -8px;
}

.active_user {
  background-color: green;
}

.inactive_user {
  background-color: gray;
}

.Profile_flipped {
  flex-direction: row-reverse;
}

.Profile_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details_left {
  align-items: flex-start;
  margin-left: 16px;
}

.details_right {
  align-items: flex-end;
  margin-right: 16px;
}

.Profile_name {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.Profile_email {
  font-style: italic;
  color: rgb(163, 161, 161);
}

.Editor_profile_menu {
  position: absolute;
  right: 0;
  top: var(--header_height);
  max-width: 250px;
  width: 100%;
  padding: 16px;
  transition: 0.5s;
  background-color: white;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -moz-box-shadow: 0 0 16px rgb(121, 121, 121);
  -webkit-box-shadow: 0 0 16px rgb(121, 121, 121);
  box-shadow: 0 0 16px rgb(121, 121, 121);
  display: none;
  margin-right: 16px;
}

.Editor_profile_menu::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: -5px;
  right: 12px;
  z-index: -1;
  transform: rotate(45deg);
}

.Editor_profile_menu ul {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.Editor_profile_menu ul li {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.Editor_options {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: black;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 8px 0;
}

.Editor_profile_menu ul li:hover {
  background-color: rgb(238, 238, 238);
}

.Editor_profile_menu ul li span {
  flex-grow: 1;
  padding: 8px;
  margin-left: 8px;
  color: gray;
}

.Editor_profile_menu_icon {
  color: gray;
}
